{% extends 'base.html' %}

{% block content %}
<h1 class="edit_title"> Edit a User</h1>

<div id="form_container">
  <form action="/users/{{ user_id }}/edit" method="POST" class="edit_form">
    <label for="first_name">First Name</label>
    <input type="text" name="firstname" id="first_name" value="{{ user.first_name }}">

    <label for="last_name">Last Name</label>
    <input type="text" name="lastname" id="last_name" value="{{ user.last_name }}">

    <label for="image_url">Image URL</label>
    <input type="text" name="imageurl" id="image_url" value="{{ user.image_url }}">


    <a href='/users' class="btn btn-outline-dark">Cancel</a>

    <button type="submit" class="btn btn-outline-dark">Save</button>
  </form>
</div>


{% endblock %}