{% extends 'base.html' %}

{% block content %}
<h1 class="edit_title"> Edit a User</h1>

<div id="form_container">
  <form action="/users/{{ user.user_id }}/edit" method="POST" class="edit_form">
    <label for="">First Name</label>
    <input type="text" name="firstname" value="{{ user.first_name }}">

    <label for="">Last Name</label>
    <input type="text" name="lastname" value="{{ user.last_name }}">

    <label for="">Image URL</label>
    <input type="text" name="imageurl" value="{{ user.image_url }}">


    <button onclick="location.href='/users'">Cancel</button>
    <button type="submit">Save</button>
  </form>
</div>


{% endblock %}