{% extends 'base.html' %}

{% block content %}
<div class="profile_container">
  <img src="{{user.image_url}}" alt="{{user.first_name}} {{user.last_name}} profile picture" class="profile_image">

  <div class="profile_text_container">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>

    <div class="button_container">
    <a href='/users/{{ user_id }}/edit' class="btn btn-outline-dark" role="button">Edit</a>

    <form method="POST" action="/users/{{ user_id }}/delete">
      <button type="submit" class="delete_btn btn btn-outline-dark">Delete</button>
    </form>
  </div>

  <ul class="post_list">
    {% for post in posts %}
      <li><a href="/posts/{{ post.post_id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <a href="/users/{{ user_id }}/posts/new" class="btn btn-outline-dark" role="button"> Add Post</a>
  </form>

</div>
</div>
{% endblock %}